<h1>Pomodoro <span><img width="50" height="50" src="https://s20.postimg.cc/z1awkyrf1/pomodoro.png"
            alt="Pomodoro"></span> Clock</h1>

<main id="pomodoro">
    <div class="left">
        <span>Break Length</span><br>
        <input type="button" value="-" id="minBreakBtn">
        <span id="breakNum">5</span>
        <input type="button" value="+" id="plusBreakBtn">
    </div>
    <div class="right">
        <span>Session Length</span><br>
        <input type="button" value="-" id="minSessionBtn">
        <span id="sessionNum">25</span>
        <input type="button" value="+" id="plusSessionBtn">
    </div>

    <p id="quote"></p>
    <div id="clock">25:00</div>
    <input type="button" value="Start" id="start">
    <input type="button" value="Reset" id="reset">

    <div id="progress"></div>
</main>

<footer>
    <p>Designed &amp; Coded by <span><a href="mailto:t.s.ivaykin@gmail.com" target="_blank">Timothy S.
                Ivaikin</a></span></p>
</footer>
